.conteiner{
background: #fff;
border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    height: 72px;
    margin-left: auto;
    margin-right: auto;
}
.footer{
background: #2e2f42;
width: 1440px;
height: 312px;
}